<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Tutorial</title>
    <link rel="stylesheet" href="../../static/landing-page/video.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
</head>
<body>
    <div class="container">
        <header>
            <div class="logo">
                <a href="#">
                    <img src="../static/image-page/tl5.png" alt="">
                </a>
            </div>  
            <div class="btn">
                <form action="/home" method="POST">
                    <button type="submit" name="action3" value="Homepage">
                        <i class="fas fa-home"></i>
                    </button>
                </form>
            </div> 
        </header>

        <div class="video-container">
            <div class="title">
                <h1>Clothing Issue</h1>
            </div>
            <div class="box1">
                <form action="" method="POST">
                    <h2>Clothing Not Drying 
                        <button type="submit" name="action3" value="TLclothinglink1">
                            <i class="fas fa-copy"></i>
                        </button>
                    </h2>
                </form>
                <h3>Size of load and spin speed affect on the drying of clothes</h3>
                <div class="video">    
                    <iframe width="640" height="350" src="https://www.youtube.com/embed/SITuQXneVvg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                
            </div>
        
            <div class="box2">
                <form action="" method="POST">
                    <h2>Lint On Clothes After Wash Cycle
                        <button type="submit" name="action3" value="TLclothinglink2">
                            <i class="fas fa-copy"></i>
                        </button>
                    </h2>
                </form>
                <h3>Paper, Tissues, and dirty washer tub are making lint during wash</h3>
                <div class="video">    
                    <iframe width="640" height="350" src="https://www.youtube.com/embed/3kY0YUZhw2c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

                    
            <div class="box3">
                <form action="" method="POST">
                    <h2>Add Garments Feature
                        <button type="submit" name="action3" value="TLclothinglink3">
                            <i class="fas fa-copy"></i>
                        </button>
                    </h2>
                </form>
                <h3>Understanding The Add Garments Feature </h3>
                <div class="video">    
                    <iframe width="640" height="350" src="https://www.youtube.com/embed/-GjX91DxOxg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

            <div class="box4">
                <form action="" method="POST">
                    <h2>Detergent & Additives Usage Tips
                        <button type="submit" name="action3" value="TLclothinglink4">
                            <i class="fas fa-copy"></i>
                        </button>
                    </h2>
                </form>
                <h3>Adjusted detergent amount will make high efficiency of cleaning clothes</h3>
                <div class="video">    
                    <iframe width="640" height="350" src="https://www.youtube.com/embed/OZ9HgYKkod8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

            <div class="box5">
                <form action="" method="POST">
                    <h2>Proper Loading
                        <button type="submit" name="action3" value="TLclothinglink5">
                            <i class="fas fa-copy"></i>
                        </button>
                    </h2>
                </form>
                <h3>Step by step of loading the washer properly </h3>
                <div class="video">    
                    <iframe width="640" height="350" src="https://www.youtube.com/embed/j0qKK6ipjNg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

            <div class="box6">
                <form action="" method="POST">
                    <h2>How To Properly Load <br/>Your Top Load Washer
                        <button type="submit" name="action3" value="TLclothinglink6">
                            <i class="fas fa-copy"></i>
                        </button>
                    </h2>
                </form>
                <h3>Step by step of loading the washer properly </h3>
                <div class="video">    
                    <iframe width="640" height="350" src="https://www.youtube.com/embed/fcf1N-JuOAM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>

        <div class="foot">
            <h4>Video Provided By : LG USA Support</h4>
        </div>
        
    </div>
</body>
</html>