<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Tutorial</title>
    <link rel="stylesheet" href="../../static/landing-page/video.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
</head>
<body>
    <div class="container">
        <header>
            <div class="logo">
                <a href="#">
                    <img src="../static/image-page/tl5.png" alt="">
                </a>
            </div>  
            <div class="btn">
                <form action="/home" method="POST">
                    <button type="submit" name="action3" value="Homepage">
                        <i class="fas fa-home"></i>
                    </button>
                </form>
            </div> 
        </header>

        <div class="video-container">
            <div class="title">
                <h1>Error Code</h1>
            </div>
            <div class="box1">
                <h2>Understanding Error Codes</h2>
                <h3>Solutions for OE,IE,DE, and UE error messages</h3>
                <div class="video">    
                    <iframe width="640" height="350" src="https://www.youtube.com/embed/opA7n59Iyy0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        
            <div class="box2">
                <h2>Balancing & UE Error</h2>
                <h3>Understanding and solving UE Error</h3>
                <div class="video">    
                    <iframe width="640" height="350" src="https://www.youtube.com/embed/WiM0CtmnUo4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

            <div class="box3">
                <h2>dE Error Code On Display</h2>
                <h3>DE error and how to solve it</h3>
                <div class="video">    
                    <iframe width="640" height="350" src="https://www.youtube.com/embed/RKPvXjxO41Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

            <div class="box4">
                <h2>CE Error Code On Display</h2>
                <h3>What is CE Error code and how to be fix</h3>
                <div class="video">    
                    <iframe width="640" height="350" src="https://www.youtube.com/embed/g2KIyCVoIO8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

            <div class="box5">
                <h2>DR Error Code Appears On Display</h2>
                <h3>DR code not an error. DR means the unit has timed out, and it is automatically draining water</h3>
                <div class="video">    
                    <iframe width="640" height="350" src="https://www.youtube.com/embed/g1ORKngajTQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

            <div class="box6">
                <h2>E6 Error Code Explain & Resolve</h2>
                <h3>E6 error code indicates an error with the clutch</h3>
                <div class="video">    
                    <iframe width="640" height="350" src="https://www.youtube.com/embed/zXBUOPaHfOc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>

        <div class="foot">
            <h4>Video Provided By : LG USA Support</h4>
        </div>
        
    </div>
</body>
</html>