<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Tutorial</title>
    <link rel="stylesheet" href="../../static/landing-page/video.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
</head>
<body>
    <div class="container">
        <header>
            <div class="logo">
                <a href="#">
                    <img src="../static/image-page/tl5.png" alt="">
                </a>
            </div>  
            <div class="btn">
                <form action="/home" method="POST">
                    <button type="submit" name="action3" value="Homepage">
                        <i class="fas fa-home"></i>
                    </button>
                </form>
            </div> 
        </header>

        <div class="video-container">
            <div class="title">
                <h1>Noise/Vibration</h1>
            </div>
            <div class="box1">
                <h2>Noises During Load Sensing</h2>
                <h3>Cycle time based on the weight of laundry</h3>
                <div class="video">    
                    <iframe width="640" height="350" src="https://www.youtube.com/embed/SNdGUPGbaFA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        
            <div class="box2">
                <h2>Vibration After Installation</h2>
                <h3>Re-install washer to another place if floor condition is easy to slide</h3>
                <div class="video">    
                    <iframe width="640" height="350" src="https://www.youtube.com/embed/WiM0CtmnUo4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

            <div class="box3">
                <h2>Troubleshooting Noise <br/>During Load Sensing</h2>
                <h3>Cycle time based on the weight of laundry</h3>
                <div class="video">    
                    <iframe width="640" height="350" src="https://www.youtube.com/embed/qhHTO4TUhgA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

            <div class="box4">
                <h2>Noises During Cycle</h2>
                <h3>Coins, key, and lighters inside pockets could damage<br/>the washer or clothing</h3>
                <div class="video">    
                    <iframe width="640" height="350" src="https://www.youtube.com/embed/1qIuisv9520" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

            <div class="box5">
                <h2>Noises During Spin</h2>
                <h3>Unbalanced load causing a thumping or banging noise</h3>
                <div class="video">    
                    <iframe width="640" height="350" src="https://www.youtube.com/embed/oZyt-2v9Kak" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

            <div class="box6">
                <h2>Clicking Noise From Washer</h2>
                <h3>Clicking noise at the beginning of the cycle is <br/>normal noise coming from the motor to align the gears</h3>
                <div class="video">    
                    <iframe width="640" height="350" src="https://www.youtube.com/embed/hZdKastC5EQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        
        <div class="foot">
            <h4>Video Provided By : LG USA Support</h4>
        </div>
    </div>
</body>
</html>