<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Tutorial</title>
    <link rel="stylesheet" href="../../static/landing-page/video.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
</head>
<body>
    <div class="container">
        <header>
            <div class="logo">
                <a href="#">
                    <img src="../static/image-page/tl5.png" alt="">
                </a>
            </div>  
            <div class="btn">
                <form action="/home" method="POST">
                    <button type="submit" name="action3" value="Homepage">
                        <i class="fas fa-home"></i>
                    </button>
                </form>
            </div> 
        </header>

        <div class="video-container">
            <div class="title">
                <h1>Error Code</h1>
            </div>
            <div class="box1">
                <h2>How To Use Smart Diagnosis Using LG ThinQ App</h2>
                <h3>Step by step of how to install and use ThinQ app</h3>
                <div class="video">    
                    <iframe width="640" height="350" src="https://www.youtube.com/embed/QfOcqqmUI3Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
    
        </div>

        <div class="foot">
            <h4>Video Provided By : LG USA Support</h4>
        </div>
    </div>
</body>
</html>