<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/main.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
</head>
<body>
    <section id="success-section">
        <div class="review">
            <h1>Thank you for your opinion</h1>
            
            <form action="/home" method="POST">
                <h2>Go back to homepage</h2>
                <button type="submit" name="action3" value="Homepage">
                    <i class="fas fa-home"></i>
                </button>
            </form>
        </div>
        <footer class="footer">
            <div class="footer__content">
              <section class="left">
                <a class="footer__item">Made by Eunbi Yoon</a>
                <a class="footer__item">LGEUS Tennessee Factory R&D Team</a>
              </section>
              <section class="right">
                <div class="footer__column">
                  <a class="footer__item">Recent</a>
                  <a class="footer__item">Calendar</a>
                </div>
                <div class="footer__column">
                  <a class="footer__item" href="#">About</a>
                  <a class="footer__item">V3_092322</a>
                </div>
              </section>
            </div>
        </footer>
    </section>
    
</body>
</html>